a:link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: rgb(107, 107, 107);
}

a:hover{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    color: rgb(107, 107, 107);
}

a:visited{
    text-decoration: none;
    color: rgb(107, 107, 107);
}

li{
    list-style: none;
    display: inline;
}

.bottom-links{
    background-color: rgb(247, 247, 247);
}

.center{
    display: block;
    margin-left: 39%;
    
}

#logo{
    width: 300px;
    height: 200px;
    padding-left: 40px;
}

.search-button{
    background-color: rgb(230, 230, 230);
    font-size: 12px;
    border: none;
    padding: 10px 20px 10px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.sign-in{
    background-color: rgb(5, 115, 218);
    font-size: 12px;
    border: none;
    padding: 7px 15px;
    display: inline-block;
    color: aliceblue;
}

#search-bar{
    height: 35px;
    width: 400px;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
}

#search-bar:hover{
    box-shadow: 1px 1px 1px 1px rgb(230, 230, 230);
}

.first-nav{
    top: 10px;
    margin-left: -20px
}

.second-nav{
    margin-top: -35px;
    margin-left: 80%;
}

.bottom-links{
    width: 100%;
    position: absolute;
    bottom: 0;
}

#first-footer{
    position: absolute;
    margin-left: -20px;
}

#second-footer{
    margin-left: 80%;
}

#search-list{
    position: absolute;
    width: 100%;
    padding-left: 55px;
    
}

li{
    padding: 7px;
}

.focal{
    padding-top: 50px;
}

.search-button:hover{
    border: solid;
    border-width: 1px;
    border-color: grey;
}

.search-hover:hover{
    text-decoration: none;
}